    /* Small Devices, Tablets */
    @media (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media (max-width : 992px) {
        
    }

    /* Large Devices, Wide Screens */
    @media (max-width : 1200px) {

        .avatar {
            height: 40px;
            width: 40px;
            margin: 5px;
        }

        .player {
            font-size: 1.2rem;
        }

        #wheel {
            width: 250px;
        }

        button {
            padding: 7px;
            font-weight: 600;
            letter-spacing: 0.15em;
            cursor: pointer;
            margin-left: 5px;
            margin-right: 5px;
            font-size: 0.8em;
            
        }

        .btns {
            bottom:5%;
        }

        .guessing {
            bottom: 5%;
            padding: 8px;
            width: 20%;
        }


        /*
        #players {
            position: absolute;
            right: 2%;
            bottom: 6%;
            justify-content: space-around;
            align-items: flex-end;
           border: 1px solid pink;
           display: none;
        }
        
        
        .player p {
            padding: 5px;
        }
        
        .player input {
            width: 60%;
            margin-bottom: 30px;
            font-size: 1.5rem;
        }
        
        #players > div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            margin: 10px;
            background: url(/imgs/sandbackground.jpg);*/
         /*   background: white;
            color:  #2c2c54;
            border: 2px solid #2c2c54;
            box-shadow: 2px 2px #2c2c54;
            padding: 5px;
            font-weight: 600;
            border-radius: 1em;
        }
        
        #players hr {
            background-color: #2c2c54;
            height: 3px;
            
        }
        
        .player1, .player2 {
            display: flex;
            align-items: center;
        }
        
        .active {
            border: 5px solid gold !important;
        }
        
        .avatar {
            height: 60px;
            width: 60px;
            margin: 10px;
        }*/
        

    }
