    /* Small Devices, Tablets */
    @media (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media (max-width : 992px) {
        
    }

    /* Large Devices, Wide Screens */
    @media (max-width : 1200px) {

        .avatar {
            height: 40px;
            width: 40px;
            margin: 5px;
        }

        .player {
            font-size: 1.2rem;
        }

        #wheel {
            width: 250px;
        }

        button {
            padding: 7px;
            font-weight: 600;
            letter-spacing: 0.15em;
            cursor: pointer;
            margin-left: 5px;
            margin-right: 5px;
            font-size: 0.8em;
            
        }

        .btns {
            bottom:5%;
        }

        .guessing {
            bottom: 5%;
            padding: 8px;
            width: 20%;
        }

    }

    @media (min-width : 1300px) {
        .speech-bubble {
            width: 400px;
            left: 11%;
        }

        #commentary > div {
            width: 340px;
            left: 15%;
            
        }
    }
