* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    padding: 10px;
    border-radius: 1em;
    background-color: #218c74;
    color: white;
    border: 1px solid #2c2c54;
    box-shadow: 2px 2px #2c2c54;
    font-weight: 600;
    letter-spacing: 0.25em;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    
}

button:disabled {
    background-color: grey !important;
    opacity: 0.7;
    pointer-events: none;
}

button:hover{
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: white;
}

/*Puzzle Display - Canvas 1*/
.wrapper {
    border: 5px solid #2c2c54;
    width: 75%;
    height: 25%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px #516299;
    z-index: 3;
    background: url('imgs/sandbackground.jpg');
    color:  #2c2c54;
    border-radius: 1rem;
    display: none;
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: #97db98;*/
}

.wrapper > p{
    z-index: 5;
    position: absolute;
    font-weight: 600;
}
#bonus {
    right: 2%;
    bottom: 2%;
}

#category {
    left: 2%;
    bottom: 2%;
}
#round {
    font-size: 1.5rem;
    top: 8%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn-continue {
    display: none;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btns {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*Background - Canvas 2*/
.background {
    width: 90%;
    height: 90vh;
    position: relative;
    margin: auto;
    z-index: 0;
    background: url('imgs/background.png')Bottom center/cover no-repeat;
}

#canvas2 {
   width: 100%;
   height: 100%;
   z-index: 0;
}

.title {
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 1rem;
    color: #2c2c54;;
}

.whale {
    height: 450px;
    width: 220px;
    position: absolute;
    left: -6%;
    bottom: -4%;
    z-index: 12;
}

#whale-title {
    position: absolute;
    left: 5%;
    bottom: 0;
    height: 450px;
    width: 220px;
}
/*Guessing*/
.guessing {
    position: absolute;
    bottom: 5%;
    left: 15%;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    padding: 10px;
    border: 1px solid red;
    width: 20%;
    margin-bottom: 0;
    background: white;
    background: url('imgs/sandbackground.jpg');
    border-radius: 1em;
    border: 1px solid #2c2c54;
    box-shadow: 2px 2px #2c2c54;
    display: none;
}

.guess-group > label {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}

#guess {
    margin: 5px;
    width: 100px;
    font-size: 30px;
    text-align: center;
}

.guess-group {
    margin-top: 10px;
    margin-bottom: 30px;
}

#spin-btn {
    font-size: 1.8rem;
}


/*Wheel*/
.wheel {
    position: absolute;
    bottom: 5%;
    left: 50%;
    right: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
   /*border: 1px solid purple;*/
    display: none;
}

#wheel {
    width: 280px;
}

#marker {
    height: 50px;
    position: absolute;
    top: -8%;
    z-index: 6;
}

.blur {
    animation: blur 5s;
}

/*Commentary Section*/
#commentary {
    position: absolute;
    top: 35%;
    width: 100%;
    height: 80px;
/*    border: 1px solid crimson;*/
}

.speech-bubble {
    height: 80px;
    width: 400px;
    position: absolute;
    left: 15%;
    display: none;
}

#commentary > div {
    display: flex;
    position: absolute;
    height: 80px;
    width: 328px;
    left: 21%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    display: none;
}

/*Players Section*/
#players {
    position: absolute;
    right: 2%;
    bottom: 5%;
    justify-content: space-around;
    align-items: flex-end;
   /* border: 1px solid pink;*/
   display: none;
}

.player {
    font-size: 1.5rem;
}
.player p {
    padding: 5px;
}

.player input {
    width: 60%;
    margin-bottom: 30px;
    font-size: 1.5rem;
}

#players > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
    /*background: url(/imgs/sandbackground.jpg);*/
    background: white;
    color:  #2c2c54;
    border: 2px solid #2c2c54;
    box-shadow: 2px 2px #2c2c54;
    padding: 5px;
    font-weight: 600;
    border-radius: 1em;
}

#players hr {
    background-color: #2c2c54;
    height: 3px;
    
}

.player1, .player2 {
    display: flex;
    align-items: center;
}

.active {
    border: 5px solid gold !important;
}

.avatar {
    height: 60px;
    width: 60px;
    margin: 10px;
}

.white {
    color: white;
    animation: fadeIn 6s linear;
    opacity: 1;
}

#fadeOut {
    animation: fadeOut 6s linear;
    opacity: 0;
}


/*Setup Modal*/
#player-setup {
    z-index: 20;
    width: 60%;
    height: 75vh;
    border: 3px solid #218c74;
    justify-content: space-between;
    align-items: center;
}

.avatars {
    margin-top: 15px;
}

.avatars img {
    width: 60px;
    height: 60px;
    margin: 5px;
    border: 1px solid black;
    background-color: white;
}

.border-right {
    border-right: 1px solid #218c74;;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  [type=radio] + img {
    cursor: pointer;
  }

  [type=radio]:checked + img {
    outline: 3px solid gold;
    border: none;
  }
  [type=radio]:checked + div {
    outline: 3px solid gold;
    border: none;
  }

  [type=radio]:checked + label {
    outline: 3px solid gold;
    border: none;
  }

  /*Buy Vowel*/

  #buy-vowel {
      display: none;
  }

  #buy-vowel label {
      font-size: 30px;
      font-weight: 600;
  }

.radio-vowels {
    justify-content: space-between;
    padding: 65px;
}

.radio-vowels div {
    width: 60px;
    height: 60px;
    background-color:white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #218c74;
}

#cancel-vowel {
    background-color: #ff5252;
}

/*Title Page*/
#how-to-play {
    display: none;
    height: 60vh;
    overflow: auto;
}

#how-to-play h4,h3 {
    color: #218c74;
    margin-top: 20px;
    margin-bottom: 10px;
}

#how-to-play footer {
    margin-top: 20px;
}

.modal {
    border: 1px solid #218c74;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    z-index: 20;

    /*display: none;*/
    transform: translate(-50%,-50%);
    padding: 15px;
    background-color: #C0CEF3;
    box-shadow: 3px 3px #2c2c54;
}

.modal header {
    text-align: center;
    background-color:  #218c74;
    color: white;
    letter-spacing: 0.25rem;
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    border: 1px solid #2c2c54;
    box-shadow: 2px 2px #2c2c54;
}

.modal span {
    float: right;
    font-size: 40px;
    padding: 0;
}

.intro {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.modal footer {
    display: flex;
    justify-content: center;
}
.blinking {
    animation: blinkingText 1s infinite;
}


#wheel-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;

}

/*Animations*/

@keyframes blur {
    0% {
        filter: blur(1.5px);
    }
    80% {
        filter: blur(1.5px);
    }
    100% {
        filter: blur(0px);
    }
}

@keyframes blinkingText {
   
    0% {
        opacity: 0;
    }
    80% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    50% {
        opacity: 0;
    }
    100% {
      opacity:1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    50% {
        opacity: 1;
    }
    100% {
      opacity:0;
    }
  }