* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.wrapper {
    border: 5px solid black;
    width: 75%;
    height: 25%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px #516299;
    z-index: 3;
    background: url('imgs/sandbackground.jpg');
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: #97db98;*/
}

.background {
    width: 90%;
    height: 85vh;
    border: 2px solid green;
    position: relative;
    margin: auto;
    z-index: 0;
    background-color: #00ddff;
    background: url('imgs/background.png')Bottom center/cover no-repeat;
}

#canvas2 {
   width: 100%;
   height: 100%;
   z-index: 0;
}

.title {
    text-align: center;
    font-size: 4rem;
}

.tbc {
    justify-content: space-around;
}

#mainContent {
    position: absolute;
    top: 37%;
    width: 100%;
}

button {
    padding: 10px;
    border-radius: 1em;
}

#next-btn {
    display: none;
}

#whale {
    height: 450px;
    width: 240px;
    position: absolute;
    left: -5%;
    top: -6%;
    z-index: 5;
}

/*Guessing*/
.guessing {
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    padding: 10px;
    border: 1px solid red;
    width: 30%;
}

label {
    text-align: center;
}

#guess {
    margin: 5px;
    width: 100px;
    font-size: 20px;
}

/*Players*/
#players {
    justify-content: space-around;
    align-items: flex-end;
    border: 1px solid pink;
}

#players > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 10px;
    background-color: white;
}

.active {
    border: 5px solid gold;
}

.avatar {
    height: 50px;
    border: 1px solid pink;
}

/*Wheel*/
.wheel {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    border: 1px solid purple;
}

#wheel {
    width: 260px;
    margin: 10px;
}

#marker {
    height: 50px;
    position: absolute;
    top: 16%;
    z-index: 6;
}

.blur {
    animation: blur 5s;
}


#commentary {

    width: 60%;
    height: 80px;
    border: 1px solid crimson;
}

#commentary > img {
    height: 80px;
    width: 400px;
    margin-left: 200px;
}

@keyframes blur {
    0% {
        filter: blur(1.5px);
    }
    80% {
        filter: blur(1.5px);
    }
    100% {
        filter: blur(0px);
    }
}

/*Title Page*/
.modal {
    border: 1px solid teal;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    background-color: whitesmoke;
    display: none;
    transform: translate(-50%,-50%);
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}